@import 'slider.css';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville');
main {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

input[type="number"] {
    min-width: 5em;
}

//.color-field {
//    width: 50px;
//    margin: 0px;
//    padding: 0px;
//}

.fieldset{
   background-color: #fff;
   border-radius: 6px;
   box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
   color: #4a4a4a;
   display: block;
   padding: 1.25rem;
   border: 1px solid #ccc;
   margin-top: 1em;
   margin-bottom: 1em;
   width: 0;
}

.fieldset > legend{
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    background-color: #fff;
    padding: 0 5px;
	border: 0 none
}

//input[type="color"] {
//    width: 3em;
//}

.stroke-field {
    min-width: 150px;
}

//.button, .picker, .color-control {
//    min-width: 0px;
//    width: 0px;
//    margin: 0px;
//}

.LineStyleForm .card-header:hover {
    cursor:pointer;
}

td {
    width: 10ch;
}

.c-align-center img {
    display: block;
    padding: 10px;
}

