@charset "utf-8";
@import '../../node_modules/bulma/bulma.sass';

$nav-height: 80px;

body {
    width: 100vw;
    max-width: 100vw;
}

table {
    text-align: center;
}

.c-valign-top {
    vertical-align: top;
}

.c-valign-center {
    vertical-align: middle;
}

.c-valign-bottom {
    vertical-align: bottom;
}

.c-halign-left {
    text-align: left;
}

.c-halign-center {
    text-align: center;
}

.c-halign-right {
    text-align: right;
}

.c-align-center {
    text-align: center;
    vertical-align: center;
}

@media(max-width: 1023px) {

    #canvas-overlay > .Footer {
        display: none;
    }

    .NavBar {
        position: sticky;
        top: 0px;
        z-index: 2000;
        background-color: white;
    }
    .main-column-group {
        display: flex;
        flex-flow: column nowrap;
    }

    .form-column, .styles-column, .footer-mobile {
        flex: 1 0 auto;
    }

    .footer-mobile {
        order: 5;
    }

    .preview-column {
        flex: 1 0 auto;
        order: 5;
    }

    .form-column {
        padding: 20px;
    }

    .styles-column {
        padding: 20px;
    }
    
    .preview-container, .PagePreview {
        width: 90vw;
        height: 127.29vw;
    }
}

@media(min-width: 1024px) {
    .footer-mobile {
        display: none;
    }

    #hr-styles {
        display: none;
    }

    .generator-page {
        position: absolute;
        width: 100vw;
        height: 100vh;
        max-height: 100vw;
    }

    .main-column-group {
        display: flex;
        flex-flow: row nowrap;
        height: calc(100vh - $nav-height);
        overflow: hidden;
        min-width: 0;

    }

    .form-column, .styles-column {
        flex: 2 0 auto;
    }

    .preview-column {
        flex: 1 1 auto;
        min-width: 0;
    }

    .form-column {
        padding: 20px;
        direction: rtl;
        overflow: auto;
        min-width: 350px;
        > div {
            direction: ltr;
        }
    }

    .styles-column {
        padding: 20px;
        overflow: auto;
        margin-right: 5px;
        width: 350px;
        min-width: 350px;
    }
    
    .preview-container, .PagePreview {
        width: 100%;
        height: 100%;
    }


    
}

.PagePreview {
    position: relative;
    left: 0%;
    right: 0%;
}

.preview-container {
    background-color: #bce4fc;
}

footer {
    a {
        color: unset;
        text-decoration-line: underline;
    }

    p {
        text-align: center;
    }
}

.Footer {
    padding: 10px;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 10px;
    padding-right: 25px;
    padding-left: 20px;
    height: $nav-height;
    .nav-brand {
        flex: 0 1 auto;
    }

    .title {
        flex: 1 0 auto;
        margin: 0;
    }

    button {
        flex: 0 1 auto;
    }

}

#canvas-overlay {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 6000;
    padding: 10px;
    

    > .Footer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

}

#bannerSvg {
    width: 1000px;
    height: 388.650px;
}
